.ink_datepicker {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 10px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11000;
}

.ink_datepicker:after {
  content: '';
  display: block;
  clear: both;
}

.ink_datepicker * {
  box-sizing: border-box;
}

.ink_datepicker a {
  text-decoration: none;
}

.ink_datepicker select {
  border: 0;
}

.ink_datepicker button {
  border: 0;
  cursor: pointer;
}

.ink_datepicker .ink_datepicker_bg {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.ink_datepicker .ink_datepicker_wrap {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 0;
  font-family: "NotoSansR";
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.35s ease;
}

@media screen and (max-width: 800px) {
  .ink_datepicker .ink_datepicker_wrap {
    width: calc(100% - 40px);
  }
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2em;
  line-height: 40px;
  padding: 16px;
  margin: 0;
  transition: all 0.35s ease;
  color: #fff;
  background-color: #333;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header select {
  appearance: none;
  padding: 4px;
  background-color: transparent;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header select:hover, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header select:focus {
  color: #ed2a61;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header select::-ms-expand {
  display: none;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header select option {
  background-color: #333;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header select option:hover, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header select option:focus {
  color: #fff;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header select option[selected] {
  background-color: #ed2a61;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title {
  width: 300px;
  text-align: center;
  line-height: 1;
  font-size: 10px;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_year_wrap {
  display: inline-block;
  position: relative;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_year_wrap .ink_datepicker_year {
  width: auto;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_year_wrap .ink_datepicker_year option {
  font-size: 1.4em;
  font-weight: normal;
}

@media screen and (max-width: 300px) {
  .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_year_wrap {
    display: block;
    text-align: center;
    margin: 0 auto 6px;
  }
  .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_year_wrap .ink_datepicker_year {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_month_wrap {
  display: inline-block;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_month_wrap .ink_datepicker_month {
  width: auto;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_month_wrap .ink_datepicker_month option {
  font-size: 1.4em;
  font-weight: normal;
}

@media screen and (max-width: 300px) {
  .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_month_wrap {
    display: block;
    text-align: center;
  }
  .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_title .ink_datepicker_month_wrap .ink_datepicker_month {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn {
  display: flex;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_prev,
.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_next {
  display: block;
  width: 50px;
  height: 40px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_prev:before, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_prev:before,
.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_next:before,
.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_next:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 3px solid #fff;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_prev:hover:before, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_prev:hover:before, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_prev:focus:before, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_prev:focus:before,
.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_next:hover:before,
.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_next:hover:before,
.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_next:focus:before,
.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_next:focus:before {
  border-color: #ed2a61;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_prev:before {
  transform: translate(25%, 0) rotate(-135deg);
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_header .ink_datepicker_btn_next:before {
  transform: translate(-25%, 0) rotate(45deg);
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table {
  position: relative;
  margin: 0 auto;
  padding: 12px;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table:after {
  top: 368px;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_days {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  text-align: left;
  color: #666;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_day:first-child {
  color: #ed2a61;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_day:nth-child(7n + 1) {
  color: #ed2a61;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_day:nth-child(7n) {
  color: #3c6ffa;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_day.disable {
  color: #ddd;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates {
  display: flex;
  flex-flow: wrap;
  height: 180px;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this {
  color: #666;
  position: relative;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this::before {
  content: '';
  display: block;
  width: 100%;
  max-width: 30px;
  height: 100%;
  max-height: 30px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:hover, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:focus {
  color: #333;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:hover::before, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:focus::before {
  background-color: #666;
  opacity: 0.3;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:first-child {
  color: #ed2a61;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:first-child.current {
  color: #fff;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:nth-child(7n + 1) {
  color: #ed2a61;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:nth-child(7n + 1).current {
  color: #fff;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:nth-child(7n) {
  color: #3c6ffa;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this:nth-child(7n).current {
  color: #fff;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.disable {
  color: #ddd;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.disable.current {
  color: #fff;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.disable:hover, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.disable:focus {
  color: #ddd;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.disable:hover::before, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.disable:focus::before {
  background-color: transparent;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.today {
  color: #fff;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.today::before {
  background-color: #333;
  opacity: 0.5;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.current {
  color: #fff;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_table .ink_datepicker_dates .this.current::before {
  background-color: #333;
  opacity: 1;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu {
  display: block;
  width: 100%;
  height: auto;
  border-top: 1px solid #e2e2e2;
  padding: 12px;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap .ink_datepicker_btn {
  flex: 0 1 auto;
  background-color: transparent;
  width: auto;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  border-radius: 20px;
  font-size: 1.4em;
  font-weight: bold;
  transition: all 0.35s ease;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap .ink_datepicker_btn.today {
  color: #fff;
  background-color: #333;
  margin-right: 12px;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap .ink_datepicker_btn.cancel {
  color: #fff;
  margin-left: auto;
  background-color: #ed2a61;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap .ink_datepicker_btn.reset {
  color: #fff;
  background-color: #999;
}

.ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap .ink_datepicker_btn:hover, .ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap .ink_datepicker_btn:focus {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 400px) {
  .ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap {
    flex-direction: column;
  }
  .ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap .ink_datepicker_btn {
    flex: 1 1 auto;
    width: 100%;
    margin: 0 0 12px;
    float: none;
  }
  .ink_datepicker .ink_datepicker_wrap .ink_datepicker_menu .ink_datepicker_btn_wrap .ink_datepicker_btn:last-child {
    margin: 0;
  }
}
